@media(min-width:1920px){
        .fotocompleta{right: 20px;}
        .abo2{ width: 1200px; margin-left: 50px;}
        .t31{padding-bottom: 120px;}
        .contenedorport{width: 1518px; margin-left: 160px;}
        .barramenuport{margin-left: 300px;}
        .contenedorservicio{margin-left:400px;}
        .contenedorskills{width: 800px;margin-left: 250px;}
        .contenedorcontacto{width:1516px ;margin-left: 200px;}
        .palabrafondo{font-size: 410px; 
                      -webkit-transform: rotate(-16deg);
                     top: 120px;}
    }
    
    @media(max-width:1440px){
            .fotocompleta{left: 0px; right: 30px;}
            .barramenuport{margin-left: 120px;}
            .abo2{margin-right: 300px;}
            .contenedorport{width: 1358px; margin-left: 30px;}
            .about{padding-bottom: 30px;}
            .tituloport{padding-top: 40px;}
            .botonport{margin-top: 0px;}
            .contenedorservicio{margin-left: 180px;}
            .skills{padding-top: 60px;}
            .palabrafondo{font-size: 310px;}
            .lineafinal{display: none;} 
    }
    
    
    @media(max-width:1280px){
            .t10{margin-left: 50px;}
            .bc{margin-left: 0; margin-right: 80px;}
            .a2,.a3, .a4{margin-left: 50px;}
            .hero2{margin-left: 96px;}
            .fotocompleta{left: 10px;}
            .abo2{margin-right: 200px;}
            .barramenuport{margin-left: 110px;}
            .contenedorport{margin-left: 40px; width: 1200px;}
            .mp1{margin-left: 35px;}
            .formulario{margin-right: 100px;}
            .about{padding-bottom: 10px;}
            .tituloport{padding-top: 30px;}
            .botonport{margin-top: 0px;}
            .contenedorport{padding-bottom: 50px;}
            .contenedorskills{padding-left: 100px; 
                  padding-right: 100px; margin-left: 240px; width: 576px;}
            .palabrafondo{font-size: 280px;} 
            .contenedorservicio{margin-left: 90px;}
            .lineafinal{display: none;}
    }
    
    @media(max-width:1024px){
             .bc{margin-right: 40px;}
             .m1{margin-left: 0px;}
             .hero2{margin-left: 76px;}
             .fotocompleta{left: 0;}
             .abo2{width: 500px; margin-right: 50px;}
             .contenedorport{width: 1000px; margin-left: 10px;}
             .barramenuport{margin-left: 0px;}
             .contenedorskills{margin-left: 120px;}
             .formulario{display: none;}
             .f1{display: none;}
             .palabrafondo{font-size: 220px;
                    -webkit-transform: rotate(-28deg); left: 20px;}
             .contenedorservicio{margin-left: 180px; width: 700px;}
             .lineafinal{display: none;}
    }
    
    @media(max-width:768px){
              .fotocompleta{display: none;}
              .contenedorfoto{display: none;}
              .portfolio{display: none;}
              .navbar{display: none;}
              
              .mimenuhero{
                display: flex;
                color: white;
                font-size: 40px;
                width: 23px;
                margin-left: 360px;
                padding-top: 80px;
               }
               .palabrafondo{display: none;}
               .abo2{margin-right: 110px;}
               .contenedorservicio{margin-left: 30px;}
               .contenedorskills{margin-left:40px; width: 476px;}
               .port480{display: none;}
               .lineafinal{display: none;}
    }
    
    @media(max-width:480px){
              .mimenuhero{margin-left: 220px;}
              .hero2{margin-left: 10px; width: 450px;}
              .b25{margin-right: 150px;}
              .abo2{margin-left: 20px; margin-right: 30px;}
              .contenedorservicio{width: 338px; margin-left: 60px;}
              .contenedorskills{width:160px ;padding: 0px 0px; margin-left:135px ;}
              .infopersonal{width:400px ;margin-left:20px;}
              .palabrafondo{display: none;}
              .lineafinal{display: none;}
              .f2{margin-right: 160px;}
            }
    
    @media(max-width:320px){
        .mimenuhero{margin-left: 150px;}
        .b25{display: none;}
        .hero2{margin-left: 4px; width: 310px;}
        .t21{font-size: 68px;}
        .b32 , .b33{display: none;}
        .contenedorservicio{width:280px;margin-left: 20px;}
        .contenedorskills{margin-left: 60px;}
        .infopersonal{margin-left: 0px;width: 300px;}
        .diremail, .numerotel, .ubi {margin-left: 10px;}
        .f3{margin-left: 40px;}
        .palabrafondo{display: none;}
        .lineafinal{display: none;}
    }





