*{
    margin: 0;
    padding: 0;
}

.hero{
        
        padding-top: 30px;
        background-color: rgb(16, 22, 48);
        padding-bottom: 30px;
}

.divhero{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 55px;
}

.a0, .a1,.a2, .a3{
    margin-left: 20px;
    padding-left: 50px;
    text-decoration: none;
    color: white;
}

.bc{
    margin-left: 400px;
    margin-right: 100px;
    padding-right: 150px;
    text-decoration: none;
    background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
    background-size: 200%;            
    border-radius: 10px;
    font-size: 12 px;
    padding: 10px 30px;
    color: white;

}

.t10{
    padding-left: 70px;
    color: white;
}

.t20{
    padding-left: 70px;
    color: rgb(134, 131, 130);
}

.t21{
    padding-left: 70px;
    margin: 7px 0px;
    color: white;
}

.t22{
    padding-left: 70px;
    color: rgb(78, 187 , 219);
}

.t23{
    padding-left: 70px;
    margin: 7px 0px;
    color: white;
}

.t24{
    padding-left: 70px;
    padding-bottom: 25px;
    color: rgb(78, 187 , 219);
}

.b25{
    margin-left:  70px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 12 px;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
    background-size: 200%;            
}



.about{
    border: solid 2px red;
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
}

img{
     width: 100%;
}

.abo1{
    border: solid 2px green;
    width: 350%;
    margin-left: 70px;
}

.abo2{
    border: solid 2px blue;
    margin-left: 300px;
    margin-right: 300px;
    
}


.portfolio{
    border: solid 2px blue;
}

.services{
    border: solid 2px red;
}

.skills{
    border: solid 2px blue;
}

.people{
    border: solid 2px red;
}

.contact{
    border: solid 2px blue;
}

.footer{
    border: solid 2px red;
}
