*{
    margin: 0;
    padding: 0;
}

/*-------------- INICIO HERO------------------------------*/

.hero{
        padding-top: 75px;
        background-color: rgb(16, 22, 48);
        padding-bottom: 100px;
        
}

.divhero{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 55px;
}

.a0, .a1,.a2, .a3{
    margin-left: 20px;
    padding-left: 50px;
    text-decoration: none;
    color: white;
    
}

.menuhero{
    margin-top: -30px;
}

.bc{
    margin-left: 300px;
    margin-right: 125px;
    text-decoration: none;
    background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
    background-size: 200%;            
    border-radius: 10px;
    font-size: 12 px;
    padding: 20px 65px;
    color: white;

}

.t10{
    padding-left: 130px;
    padding-bottom: 30px;
    color: white;
    font-size: 43px;
}

.t20{
    padding-left: 130px;
    padding-bottom: 3px;
    color: rgb(134, 131, 130);
    font-size: 43px;
}

.t21{
    padding-left: 130px;
    padding-bottom: 3px;
    margin: 7px 0px;
    color: white;
    font-size: 80px;
}

.t22{
    padding-left: 130px;
    padding-bottom: 1px;
    color: rgb(78, 187 , 219);
    font-size: 43px;
}

.t23{
    padding-left: 130px;
    padding-bottom: 1px;
    margin: 7px 0px;
    color: white;
    font-size: 43px;
}

.t24{
    padding-left: 130px;
    padding-bottom: 75px;
    color: rgb(78, 187 , 219);
    font-size: 43px;
}

.b25{
    margin-left: 130px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 12px;
    padding: 35px 120px;
    color: white;
    background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
    background-size: 200%;            
}

/*-----------------------FIN HERO ------------------------*/


/*------------------ INICIO ABOUT ------------------------ */

.about{
    border: solid 2px red;
    display: flex;
    
    padding-top: 100px;
    padding-bottom: 250px;
    background-color: rgb(16, 22, 48);
}


.fotocompleta {
    position:relative;
}

.fotocompleta div{
    width:350px;
    height:470px;
    margin-left: 70px;
}

.decorado {
    position: absolute;
    background-color: rgb(16, 22, 48);
    top: 50px;
    left: 35px;
    border: solid 10px rgb(78, 187, 219);
    border-radius: 10px;
}

.fotoperfil{
    width: 100%;
    border-radius: 10px;
}

.foto {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 10px;
}

.abo2{
    border: solid 2px blue;
    margin-left: 600px;
    margin-right: 200px;
    
}

.t30{
    padding-top: 45px;
    padding-bottom: 20px;
    color: white;
}

.t31{
    color: white;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 28px;
    
}

.b32 {
    text-decoration: none;
    border-radius: 10px;
    font-size: 12 px;
    padding: 25px 55px;
    color: white;
    background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
    background-size: 200%;
}

.b33{
    border: linear;
    border-color: linear-gradient (to left, #57b8f8, #6424fa, #57b8f8 ) ;
    background-color: blue;
}

/*----------------------- FIN ABOUT ---------------------*/


/*----------------------- INICIO PORTFOLIO ---------------*/

.portfolio{
    background-color: rgb(16, 22, 48);
    padding-bottom: 150px;
}
    

.tituloport{
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.barramenuport{
    margin-left: 232px;   
}

.mp1{
    color: white;
    text-decoration: none;
    
    margin-left: 50px;
}

.botonport{
     text-decoration: none;
     margin-top: 800px;
     text-decoration: none;
     border-radius: 10px;
     font-size: 12 px;
     padding: 25px 55px;
     color: white;
     background-image: linear-gradient(to left, #57b8f8, #6424fa, #57b8f8);
     background-size: 200%;
}

.bp{
    margin-top: 400px;
    text-align: center;
}

.primeraimagen{
    position: relative;
    top: 30px;
    left: 300px;
}

.primerdecorado{
    position: absolute;
    background-color: rgb(16, 22, 48);
    top: 15px;
    left: 20px;
    border: solid 9px rgb(78, 187, 219);
    border-radius: 12px;
}

.primerfoto{
    display: flex;
    position: absolute;
    left: 10px;
    border-radius: 12px;
}

.primeraimagen div{
    width: 260px;
    height: 260px;
}


.imgport1{
    width: 270px;
    height: 265px;
    border-radius: 12px;
}

.segundaimagen{
    position: relative;
    top: 30px;
    left: 650px;
}

.segundodecorado {
    position: absolute;
    background-color: rgb(16, 22, 48);
    top: 15px;
    left: 20px;
    border: solid 9px rgb(78, 187, 219);
    border-radius: 12px;
}

.segundafoto{
    display: flex;
    position: absolute;
    left: 10px;
    border-radius: 12px;
}

.segundaimagen div{
    width: 260px;
    height: 260px;
}

.imgport2{
    width: 270px;
    height: 265px;
    border-radius: 12px;
}

.terceraimagen{
    position: relative;
    top: 30px;
    left: 1000px;
}

.tercerdecorado {
    position: absolute;
    background-color: rgb(16, 22, 48);
    top: 15px;
    left: 20px;
    border: solid 9px rgb(78, 187, 219);
    border-radius: 12px;
}

.tercerafoto{
    display: flex;
    position: absolute;
    left: 10px;
    border-radius: 12px;
}

.terceraimagen div{
    width: 260px;
    height: 260px;
}

.imgport3{
    width: 270px;
    height: 265px;
    border-radius: 12px;
}






/*----------------------- FIN PORTFOLIO -------------------*/

.services{
    border: solid 2px red;
}

.skills{
    border: solid 2px blue;
}

.people{
    border: solid 2px red;
}

.contact{
    border: solid 2px blue;
}

.footer{
    border: solid 2px red;
}
